body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana;text-align:left;}
.maindiv{
	background-color: white;
	color: black;
	width: 500px;
	padding: 20px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.inputs{
	margin: auto;
	display: table;
}




